/*------------------nav styles--------------------*/
.navbar-default{
    margin-bottom: 0px;
}
/*------------------nav styles end----------------*/

/*------------------main styles-------------------*/
main{
     background: url(../images/mo-baghdadi-109634.jpg) center center no-repeat;
     background-size: cover;
     height: 95vh;
     opacity: .6;
}
section{
    height: 500px;
    width: 100px;
}
/*------------------main styles end----------------*/
.feet div{
    height: 100px;
    width: 100px;
}
.image {
    height: 95vh;
    width: 100%;
}
